* {
  box-sizing: border-box;
}

/* Main */

#tytul {
  background-color: silver;
  color: #11aa33;
  text-align: right;
}

#obramowanie {
  border: double 3px black;
  letter-spacing: 1mm;
}

#niebieski {
  color: blue;
  width: 50%;
  text-align: justify;
  text-indent: 5em;
  word-spacing: 1em;
  line-height: 200%;
}

#mono {
  font-family: arial;
  letter-spacing: 5px;
  word-spacing: 15px;
}

#akapit {
  text-indent: 10%;
  text-decoration: overline;
  font-weight: bold;
}

.html-margines {
  margin-left: 5%;
}

.latin {
  list-style: lower-latin;
  background-color: #ffffcc;
}

.square {
  list-style: square;
}
